:root {
    /* Light theme */
    --text-light: #000000;
    --background-light: #FFFFFF;

    --primary-light: #48c73b;
    --primary-light-detail: #3ea133;

    --secondary-light: #f1bf52;
    --secondary-light-detail: #f0b63b;

    --disabled-light: rgba(231, 231, 231, 0.288);
    --disabled-light-detail: rgba(68, 68, 68, 0.849);

    /* Dark theme */
    --text-dark: #FFFFFF;
    --background-dark: #2B2B2B;
    
    --primary-dark: #f3b252;
    --primary-dark-detail: #f5a329;
    
    --secondary-dark: rgb(131, 58, 131);
    --secondary-dark-detail: rgb(148, 56, 148);

    --disabled-dark: #353535;
    --disabled-dark-detail: rgb(139, 139, 139);

    /* Transitions */
    --theme-transition: 400ms ease-in-out;

    /* Sizes */
    --header-height: 70px;
}

body {
    /* TODO: Remove */
    height: 200vh;
    transition: background-color var(--theme-transition),
        color var(--theme-transition);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Oswald;
}

p,
a {
    font-family: Raleway;
}

.dark {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

.light {
    background-color: var(--background-light);
    color: var(--text-light);
}

@media (max-width: 1610px) {
    .header-margin {
        height: var(--header-height);
    }
}