:root {
    /* Light theme */
    --text-light: #000000;
    --background-light: #FFFFFF;

    --primary-light: #48c73b;
    --primary-light-detail: #3ea133;

    --secondary-light: #f1bf52;
    --secondary-light-detail: #f0b63b;

    --disabled-light: rgb(148, 148, 148);
    --disabled-light-detail: rgb(68, 68, 68);

    /* Dark theme */
    --text-dark: #FFFFFF;
    --background-dark: #2B2B2B;
    
    --primary-dark: #f3b252;
    --primary-dark-detail: #f5a329;
    
    --secondary-dark: rgb(131, 58, 131);
    --secondary-dark-detail: rgb(148, 56, 148);

    --disabled-dark: #353535;
    --disabled-dark-detail: rgb(139, 139, 139);

    /* Transitions */
    --theme-transition: 400ms ease-in-out;
    --burger-menu-open: 200ms ease-in-out;
    --button-transition: 200ms ease-in-out;
    /* --burger-menu-open: 2s ease-in-out; */

    /* Sizes */
    --header-height: 70px;
    --header-icon-height: 40px;
    --header-icon-margin: 6px;
    --burger-menu-width: 400px;
}

.theme-transition body {
    transition: background-color var(--theme-transition),
        color var(--theme-transition);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Oswald;
}

h1 {
    text-align: center;
    font-size: 5rem;
}

#content h1 {
    border-bottom: 1px solid;
}

.light body h1 {
    border-color: var(--text-light);
}

.dark body h1 {
    border-color: var(--text-dark);
}

.theme-transition body h1,
.theme-transition body h2,
.theme-transition body h3,
.theme-transition body h4,
.theme-transition body h5,
.theme-transition body h6,
.theme-transition body svg,
.theme-transition body p {
    transition: color var(--theme-transition);
}

p,
a {
    font-family: Raleway;
}

a {
    text-decoration: none;
}

.dark body {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

.light body {
    background-color: var(--background-light);
    color: var(--text-light);
}

.dark body .btn {
    border-color: var(--primary-dark-detail);
    background-color: var(--primary-dark);
    color: var(--background-dark);
}

.light body .btn {
    border-color: var(--primary-light);
    background-color: var(--primary-light);
    color: var(--background-light);
}

.dark body .btn:hover {
    border-color: var(--primary-dark-detail);
    background-color: var(--primary-dark-detail);
    color: var(--text-dark);
}

.light body .btn:hover {
    border-color: var(--primary-light);
    background-color: var(--primary-light-detail);
    color: var(--text-light);
}

.theme-transition body .btn {
    -webkit-transition: background-color var(--theme-transition),
        border-color var(--theme-transition),
        color var(--theme-transition);
    transition: background-color var(--theme-transition),
        border-color var(--theme-transition),
        color var(--theme-transition);
}

.theme-transition body .btn:hover {
    -webkit-transition: background-color var(--button-transition),
        border-color var(--button-transition),
        color var(--button-transition);
    transition: background-color var(--button-transition),
        border-color var(--button-transition),
        color var(--button-transition);
}

@media (max-width: 1610px) {
    .header-margin {
        height: var(--header-height);
    }
}

.content-container {
    min-height: 100vh;
}