#PageHeading {
    text-align: center;
    width: 100%;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - var(--header-icon-height) - var(--header-icon-margin));
    height: var(--header-height);
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    height: var(--header-height);
    margin-top: 10px;
    margin-left: 10px;
}

.logo > * {
    position: absolute;
    height: calc(var(--header-height) - 10px);
}

.theme-transition body .logo > * {
    transition: opacity var(--theme-transition);
}

.dark body .logo > *:first-child,
.light body .logo > *:last-child {
    opacity: 1;
}

.light body .logo > *:first-child,
.dark body .logo > *:last-child {
    opacity: 0;
}

.flexbox-column-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#header > div {
    display: flex;
}

.btn {
    position: relative;
    display: inline-block;
    height: var(--header-icon-height);
    margin-right: var(--header-icon-margin);
    margin-top: var(--header-icon-margin);
}