/* Styling for the theme slider */
:root {
    --width: calc(1.5 * var(--header-icon-height));
    --calculated-height: calc(var(--header-icon-height) - var(--header-icon-margin));
    --calculated-width: calc(var(--width) - var(--header-icon-margin));
    --padding: calc(var(--calculated-height) * 0.06);
    --diameter: calc(var(--calculated-height) * 0.7);
    --offcet: calc((var(--calculated-height) - var(--diameter) - var(--padding)) / 2);
    --translation: calc(var(--width) - var(--header-icon-margin) - var(--offcet) * 2 - var(--diameter) - var(--padding));
}

.switch {
    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--header-icon-height);
    margin-right: var(--header-icon-margin);
    margin-top: var(--header-icon-margin);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    width: var(--calculated-width);
    height: var(--calculated-height);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-light);
    -webkit-transition: var(--theme-transition);
    transition: var(--theme-transition);
    border: solid var(--padding);
    border-color: var(--primary-light);
    border-radius: var(--header-icon-height);
}

.slider > * {
    position: absolute;
    width: calc(var(--diameter) - var(--padding));
    height: calc(var(--diameter) - var(--padding));
    left: var(--offcet);
    top: var(--offcet);
    padding: var(--padding);
    background-color: var(--primary-light);
    color: var(--background-light);
    -webkit-transition: var(--theme-transition);
    transition: var(--theme-transition);
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--background-dark);
    border-color: var(--primary-dark);
}

input:checked + .slider > * {
    -webkit-transform: translateX(var(--translation));
    -ms-transform: translateX(var(--translation));
    transform: translateX(var(--translation));
    background-color: var(--primary-dark);
    color: var(--background-dark);
}

.slider > *:first-child,
input:checked + .slider > *:last-child {
    opacity: 0;
}

.slider > *:last-child,
input:checked + .slider > *:first-child {
    opacity: 1;
}
