<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}</title>
		<link rel="stylesheet" href="{{ 'static/css/base.css'|url }}">
		<link rel="stylesheet" href="{{ 'static/css/skeleton.css'|url }}">
		<link rel="stylesheet" href="{{ 'static/css/normalize.css'|url }}">
		<link rel="stylesheet" href="{{ 'static/fonts/fonts.css'|url }}">
	</head>
	<body class="darkmode">
		<div id="header">
			<div>
				<img id="logo" src="{{ 'static/svg/Utbult-Design-Logo/logo/UtbultDesign_White.svg'|url }}">
			</div>
			<div>
				<button>
					Language
				</button>
				<button>
					Darkmode
				</button>
				<button>
					Menu
				</button>
			</div>
		</div>
		<div class="container">
			{{ page.content }}
		</div>
	</body>
</html>